footer.footer
	.container
		.footer__menu
			.footer_menu-row
					ul
						li: a(href="#") Toxin
						li: a(href="#") Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
		
					ul
						li: a(href="#") Навигация 
						li: a(href="#") О нас
						li: a(href="#") Новости
						li: a(href="#") Служба поддержки
						li: a(href="#") Услуги

					ul
						li: a(href="#") О нас 
						li: a(href="#") О сервисе
						li: a(href="#") Наша команда
						li: a(href="#") Вакансии
						li: a(href="#") Инвесторы

					ul
						li: a(href="#") Служба поддержки
						li: a(href="#") Соглашения
						li: a(href="#") Сообщества
						li: a(href="#") Связь

					ul
						li: a(href="#") Подписка
						li: a(href="#") Получайте специальные предложения и новости сервиса
						li: a(href="#") Email





		.footer__Copbar
			.footer_Copbar-row
				.footer__Copbar-text
					p Copyright © 2018 Toxin отель. Все права защищены.

				.footer_Copbar-soc
					p vk
					p facebook
					p inst
