header.header
	.container
		.header__flex
			.header__logo.logo
				a(class='logo', href='#'): p Logo
			nav.header__nav
				ul
					li: a(href="#") О нас
					li: a(href="#") Услуги
					li: a(href="#") Вакансии
					li: a(href="#") Новости
					li: a(href="#") Соглашения
			.header__button
				a(class='signin__button' href='') Войти
				a(class='signup__button' href='') Зарегистрироваться 

