input(type="checkbox" id="purple")
label(for="purple") Сделать страницу фиолетовой

form(action="" method="POST")
  p login:
    input(type="text" name="title" placeholder="login")
  p password:
    input(type="text" name="year" placeholder="password")
  input(type="submit")