.login
  .login__container
    h3 Войти
    form(action="" method="POST")

      div(class="login__email") 
        input(type="text" name="title" placeholder="Email")

      div(class="login__password") 
        input(type="text" name="year" placeholder="Пароль")

    div(class="login__btn") 
      a(href='#') Войти

    .login__bottom
      a(class='login__bottom-href', href='#') Нет аккаунта на Toxin?
      
      div(class='login__bottom-btn')
       a(href='#') Создать
