html(lang="ru")
  head
    meta(charset="utf-8")
    title= "TOXIN"
  body
    include pug/header.pug
    
    .content
      .container
        -var imgSrc = "image.png"
        img(src= imgSrc, alt="picture")

         

    include pug/footer.pug

    script(src="bundle.js")
    script(src="index.js")