html(lang="ru")
  head
    meta(charset="utf-8")
    title= "TOXIN"
  body
    include pug/header.pug
    
    .content
      .container
         include pug/login.pug

    include pug/footer.pug

    script(src="bundle.js")
    script(src="index.js")